.gallery__slide {
    margin: 0;
    box-sizing: border-box;
    max-width: 360px;
}

.gallery__slide:hover {
    border: 3px solid #AD0606;
}

@media (max-width: 1440px) {
    .gallery__slide {
        max-height: 25vw;
        max-width: 25vw;
    }
}

