.benefit {
    padding: 0;
    max-width: 285px;
    width: 100%;
    min-height: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}

@media (max-width: 1024px) {
    .benefit {
        max-width: 142px;
        min-height: 110px;
    }
}