.back_to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    background-image: url(../../images/buttonup.png);
    background-size: contain;
    cursor: pointer;
    display: none;
  }
  
  .back_to_top:hover {
    background-image: url(../../images/buttonup_h.png);
  }

  .back_to_top:active {
    background-image: url(../../images/buttonup_a.png);
  }
  
  .back_to_top-show {
    display: block;
  }

  @media (max-width: 1024px) {
    .back_to_top {
      bottom: 50px;
      right: 50px;
      z-index: 9999;
      width: 50px;
      height: 50px;
    }
}
  
  @media (max-width: 550px) {
    .back_to_top {
      bottom: 10px;
      right: 10px;
      z-index: 9999;
      width: 50px;
      height: 50px;
    }
}