.header__title {
    font-family: 'Traveling _Typewriter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 77px;
    padding: 0;
    margin: 229px auto 0;
    text-align: center;
    max-width: 308px;
}

@media (max-width: 1280px) {
    .header__title {
        margin: 98px auto 0;
        font-size: 40px;
        line-height: 51px;
    }
}

@media (max-width: 550px) {
    .header__title {
        margin: 79px auto 0;
        font-size: 30px;
        line-height: 39px;
    }
}