.about__title {
    margin: 115px auto 0;
    font-family: 'Traveling _Typewriter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 77px;
    text-align: center;
}

@media (max-width: 1024px) {
    .about__title {
        font-size: 40px;
        line-height: 51px;
        margin: 65px auto 0;
    }
}