.header__contact {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 55px auto 0;
    max-width: 299px;
}

.header__contact:last-of-type {
    margin-top: 15px;
}

@media (max-width: 1280px) {
    .header__contact {
        margin: 25px auto 0;
        font-size: 18px;
        line-height: 22px;
    }
    .header__contact:last-of-type {
        margin-top: 5px;
    }
}