.services__list {
    max-width: 778px;
    margin: 35px 0 0 0;
    list-style-position: inside;
    padding-left: 0;
}

@media (max-width: 1024px) {
    .services__list {
        margin: 20px 0 0 0;
        max-width: 567px;
    }
}

@media (max-width: 550px) {
    .services__list {
        margin: 25px 0 0 0;
        max-width: 345px;
    }
}