.benefit__icon {
    width: 72px;
    height: 72px;
    background-size: contain;
}

@media (max-width: 1024px) {
    .benefit__icon {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 412px) {
    .benefit__icon {
        width: 32px;
        height: 32px;
    }
}

.cocktail {
    background-image: url(../../../images/icons/cocktail.svg);
}

.vinil {
    background-image: url(../../../images/icons/vinil.svg);
}

.burger {
    background-image: url(../../../images/icons/burger.svg);
}

.benefit:hover .cocktail{
    background-image: url(../../../images/icons/cocktail_h.svg);
    color: #AD0606;
}

.benefit:hover .vinil{
    background-image: url(../../../images/icons/vinil_h.svg);
    color: #AD0606;
}

.benefit:hover .burger{
    background-image: url(../../../images/icons/burger_h.svg);
    color: #AD0606;
}