.list__item {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
    height: auto;
}

.list__item:nth-of-type(n+2) {
    margin-top: 20px;
}