.popup__container {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    z-index: 10;
}

@media (max-width: 581px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
        padding: 25px 22px;
    }
}