.services__list-item {
    margin-left: 0;
    padding-left: 10px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.services__list-item:nth-of-type(n+2) {
    margin-top: 30px;
}