.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 511px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: red black;
    scrollbar-width: 4px;
    
}

@media (max-width: 1110px) {
    .list {
        max-height: 275px;
    }
}

@media (max-width: 664px) {
    .list {
        max-height: 417px;
    }
}