.header {
    background-image: url(../../images/header_back.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 815px;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-x: hidden;
}

@media (max-width: 1440px) {
    .header {
        min-height: 56.6vw;
    }
}

@media (max-width: 550px) {
    .header {
        background-image: url(../../images/header_back_mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 350px;
    }
}