.menulist__image {
    max-width: 540px;
    max-height: 685px;
}

@media (max-width: 664px) {
    .menulist__image {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        min-height: 198px;
    }
}